sourceDir = "{{ .chezmoi.homeDir }}/Developer/Dotfiles"
encryption = "age"

[edit]
    command = "subl"
    args = ["--wait"]

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1u7wyjcdsuvyszhxqlhztzflycyv7lcw9tqghkl9y59mj3t04432qk32yhr"
